@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using devSplain.Shared.Models

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @context.User.Identity.Name
          </button>
          <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item" @onclick="Dashboard">Dashboard</button>
            <button class="dropdown-item" @onclick="BeginSignOut">Logout</button>
          </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="dropdown">
          <button class="btn btn-secondary" @onclick="Login" type="button" aria-haspopup="true" aria-expanded="false">
            Login
          </button>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{
    UserModel userModel = new UserModel();

    private async Task BeginSignOut(MouseEventArgs args)
    {
        Log.Information("Signing out user...");
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

    private void Login(MouseEventArgs args)
    {
        Log.Information("User is attempting to Login");
        Navigation.NavigateTo("authentication/login");
    }

    private void Dashboard(MouseEventArgs args)
    {
        Log.Information("Navigating to User Dashboard");
        Navigation.NavigateTo("user-dashboard");
    }
}